function paths = env_paths_tracking(varargin)
    paths.net_base = '~/Matlab/cfnet-master/pretrained/networks/'; % e.g. '/home/luca/cfnet/networks/';
    paths.eval_set_base = '~/Matlab/cfnet-master/data/cfnet-validation/'; % e.g. '/home/luca/cfnet/data/';
    paths.stats = '~/Matlab/cfnet-master/data/cfnet_ILSVRC2015.stats.mat'; % e.g.'/home/luca/cfnet/data/ILSVRC2015.stats.mat';
    paths = vl_argparse(paths, varargin);
end
